<% layout("./layouts/boilerplate.ejs") %>

  <body>
    <div class="gallery-wrap">
      <div class="gallery">
        <div id="filters">
          <div class="filter">
            <div class="filter-menu">
              <i class="fa-solid fa-fire"></i>
              <p>Tranding</p>
            </div>
            <div class="filter-menu">
              <i class="fa-solid fa-bed"></i>
              <p>Rooms</p>
            </div>
            <div class="filter-menu">
              <i class="fa-solid fa-city"></i>
              <p>Iconic cities</p>
            </div>
            <div class="filter-menu">
              <i class="fa-solid fa-mountain-sun"></i>
              <p>Mountains</p>
            </div>
            <div class="filter-menu">
              <i class="fa-brands fa-fort-awesome"></i>
              <p>Casteles</p>
            </div>
            <div class="filter-menu">
              <i class="fa-solid fa-person-swimming"></i>
              <p>Amazing pools</p>
            </div>
            <div class="filter-menu">
              <i class="fa-solid fa-campground"></i>
              <p>Camping</p>
            </div>
            <div class="filter-menu">
              <i class="fa-solid fa-cow"></i>
              <p>Village Stay</p>
            </div>
          </div>
        </div>
        <i class="fa-solid fa-caret-right forBtn" id="forBtn"></i>
      </div>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4">
        <% allListings.forEach(listing=> { %>
          <div class="col mb-4">
            <a href="/listings/<%= listing._id %>" class="listing-link">
              <div class="card col listing-card" style="width: 100%;">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b>
                      <%= listing.title %>
                    </b>
                    <br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <i class="tax-info">&nbsp; &nbsp;
                        +18%
                        GST</i>
                      <br>
                      <%= listing.location %>, <%= listing.country %>
                  </p>
                </div>
              </div>
            </a>
            <div class="toggle">
              <div class="form-check-reverse form-switch toggle-btn">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </body>